.Footer{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    background-color: white;
    text-align: center;
}

.right-emblem>*{
    padding-top: 10px;
    padding-left: 30px;
    width: 100px;
}

.left-emblem>*{
    padding-top: 10px;
    padding-right: 20px;
    width: 100px;
}